
[data-novi-id="22"]{
  font-weight: 700;
}
[data-novi-id="21"]{
  color: rgb(251, 255, 234);
  
}
[data-novi-id="20"]{
  color: rgb(25, 71, 65);
  font-weight: 700;
}
[data-novi-id="19"]{
  color: rgb(14, 61, 53);
  font-weight: 700;
}
[data-novi-id="18"]{
  color: rgb(12, 66, 63);
  font-weight: 700;
}
[data-novi-id="17"]{
  color: rgb(28, 77, 65);
  font-weight: 700;
}
[data-novi-id="16"]{
  color: rgb(26, 77, 59);
  font-weight: 700;
}
[data-novi-id="15"]{
  font-weight: 700;
  color: rgb(1, 48, 43);
}
[data-novi-id="14"]{
  font-weight: 700;
  color: rgb(6, 51, 44);
}
[data-novi-id="13"]{
  font-weight: 700;
}
[data-novi-id="12"]{
  font-weight: 700;
}
[data-novi-id="11"]{
  font-weight: 700;
}
[data-novi-id="10"]{
  font-weight: 700;
}
[data-novi-id="9"]{
  font-weight: 700;
}
[data-novi-id="8"]{
  font-weight: 700;
}
[data-novi-id="7"]{
  font-weight: 700;
}
[data-novi-id="6"]{
  font-weight: 700;
  color: rgb(8, 51, 48);
}
[data-novi-id="5"]{
  color: #133326;
}
[data-novi-id="4"]{
  color: #2c4f4a;
}
[data-novi-id="3"]{
  font-weight: 700;
}
[data-novi-id="2"]{
  font-weight: 700;
  text-transform: lowercase;
}
[data-novi-id="1"]{
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}
[data-novi-id="0"]{
  color: #454545;
  font-weight: 700;
  font-weight: 700;
}
@media (max-width: 479px){
[data-novi-id="1"]{
  color: #fffff6;
}
}
